Checks: >
  -*,
  bugprone-*,
  llvm-header-guard,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-std-format,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,

CheckOptions:
  - key: llvm-header-guard.HeaderFileExtensions
    value: "h,hpp"

WarningsAsErrors: "llvm-header-guard"
