*.iml
.DS_Store
.autotools
.clangd*
.cproject
.cxx
.externalNativeBuild
.gradle
.idea
.project
.settings/
.ycm_extra_conf.py
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/cmake-build-*
compile_commands.json
local.properties
imgui.ini
