[submodule "src/platform/lib/glfw"]
	path = src/platform/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/platform/lib/eventpp"]
	path = src/platform/lib/eventpp
	url = https://github.com/wqking/eventpp
[submodule "lib/stb/stb"]
	path = lib/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
